.gridLayout-container {
    display: grid;
    align-items: center;
    grid-column-gap: 1.4em;
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    padding: 0;
    width: 100%;
    overflow-y: auto;
}