.card-container {
    background: #27272bc2;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 1px 12px 0px rgb(27 204 75 / 10%), 2px 3px 17px 2px rgb(101 146 202 / 10%);
    margin-bottom: 1.4em;
    cursor: pointer;
}

.card-top {
    padding: 0.2em 0.4em;
    display: flex;
    justify-content: space-between;
}

.card-middle {
    height: 16.4em;
    vertical-align: middle;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;
}

.card-bottom {
    padding: 0.2em 0.4em;
}

h4 {
    margin: 0;
    font-size: 1.5em;
}

p {
    margin: 0.2em 0 0;
}