<div class="card-container">
    <!-- Header -->
    <div class="card-top" (click)="onCardClicked()">
        <span>{{headerLeftText}}</span>
        <span>{{headerRightText}}</span>
    </div>
    <!-- Image -->
    <div class="card-middle" [ngStyle]="{backgroundImage: 'url('+image+')'}" (click)="onCardClicked()">
    </div>
    <!-- Content -->
    <div class="card-bottom" (click)="onCardClicked()">
        <h4>{{title}}</h4>
        <p>{{subtitle}}</p>
    </div>
    <!-- Personalized content -->
    <ng-content></ng-content>
</div>