<div class="paginator-container">
    <ngb-pagination *ngIf="totalItems > 0" [page]="currentPage" [pageSize]="pageSize" [collectionSize]="totalItems" (pageChange)="onPageSelected($event)"></ngb-pagination>
</div>