<div *ngIf="film">
    <h5>Personajes de {{film.title}}</h5>

    <dx-data-grid id="gridContainer" [dataSource]="characters" [showBorders]="true">
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true" [allowedPageSizes]="[10]">
        </dxo-pager>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>

        <!-- Name -->
        <dxi-column dataField="name" [caption]="'Nombre'">
        </dxi-column>
        <!-- Eye color -->
        <dxi-column dataField="eye_color" [caption]="'Color de ojos'">
        </dxi-column>
        <!-- Gender -->
        <dxi-column dataField="gender" [caption]="'Género'">
        </dxi-column>
    </dx-data-grid>

</div>