<dx-popup [fullScreen]="true" [showTitle]="true" (onHidden)="onCloseClicked()" [title]="'Resumen de '+film.title" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="showModal">
    <div *dxTemplate="let data of 'content'">
        <div class="fade"></div>

        <section class="star-wars">

            <div class="crawl">

                <div class="title">
                    <p>Episode {{film.episode_id}}</p>
                    <h1>{{film.title}}</h1>
                </div>

                <p>{{film.opening_crawl}}</p>

            </div>

        </section>
    </div>
</dx-popup>