<div class="app-mainContainer">
    <app-header></app-header>
    <ng-scrollbar>
        <div class="app-pageContainer">
            <router-outlet></router-outlet>
        </div>
    </ng-scrollbar>
</div>

<app-page-loader></app-page-loader>