<!-- Cards -->
<app-grid-layout>
    <app-card (cardClicked)="onSummaryClicked(film)" *ngFor="let film of films" [title]="film.title" [subtitle]="'Director ' + film.director" [image]="film.image" [headerLeftText]="'Episodio ' + film.episode_id" [headerRightText]="film.release_date">
        <div class="home-film-buttonContainer">
            <label class="btn-primary home-film-button" [ngStyle]="{marginRight: '0.3em'}" ngbButtonLabel (click)="onSummaryClicked(film)">Resumen</label>
            <label class="btn-primary home-film-button" ngbButtonLabel (click)="onCastClicked(film)">Personajes</label>
        </div>
    </app-card>
</app-grid-layout>
<footer>
    <!-- Paginator -->
    <app-paginator [currentPage]="currentPage" [totalItems]="totalItems"></app-paginator>
</footer>

<!-- Summary modal -->
<app-film-summary-modal *ngIf="showSummaryModal" [film]="selectedFilm" [showModal]="showSummaryModal" (closeClicked)="onCloseSummaryModal()"></app-film-summary-modal>