<app-grid-layout>
    <app-card *ngFor="let character of characters" [title]="character.name" [subtitle]="'Ojos ' + character.eye_color" [image]="imageURL" [headerLeftText]="'Género '+character.gender" [headerRightText]="character.birth_year"></app-card>
</app-grid-layout>
<footer>
    <app-paginator [currentPage]="currentPage" [totalItems]="totalItems" (pageSelected)="onPageSelected($event)"></app-paginator>
</footer>